{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<p>Latest posts</p>
{% if posts_list %}

    {% for post in all_posts_list %}
    <li><a href="{% url 'posts:detail-post' post.slug %}">{{ post.title }}</a></li>
        {{ post.content | safe | slice:":100" }}<span>...</span>
        {{ post.author }}
        {{ post.created_on  }}
        {{ post.view_count }}
    {% endfor %}

{% endif %}
<br>
<p>Most popular on this site</p>
    {% for popular_post in most_popular_posts_list %}
        {{ popular_post.content | safe }}
    {% endfor %}
{% endblock %}