@import "tailwindcss/base";

@import "tailwindcss/components";

*{
    margin: 0;
    padding: 0;
}

* ::after, ::before{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

.circular-img{
    border-radius: 50%;
}

/* landing page starts */
.movie-dropdown-menu:hover > ul{
    @apply absolute block;
} 

.movie-dropdown-menu:hover li{
    @apply float-none;
}

.main-navigation li ul li{
    @apply border-t-0;
}

.clear-dropdown::after{
    @apply clear-both;
}

/* image overlay effects starts */
.fig-holder::before{
    content: "";
    position: absolute;
    top: 70%; left: 0%;
    width: 100%;
    height: 30%;
    /* background-image: linear-gradient(to top,transparent,rgba(0,0,0,.88)); */
    background-color: black;
    z-index: 5;
    opacity: 0.5;
}
/* image overlay effects ends */

.read-btn-overlay::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;

    left: 0%;
    transition: 0.2s linear;
}

.button-holder:hover::before{
    left: 0; 
 }

/* landing page ends */

/* blog intro box starts*/
.blog-into-category::before{
    content: "";
    display: inline-block;
    width: 0.50rem;
    height: 0.50rem;
    border-radius: 100%;
    background-color: coral;
    margin-right: 0.4rem;
}

.blog-into-author::before{
    content: "";
    display: inline-block;
    width: 0.50rem;
    height: 0.50rem;
    border-radius: 100%;
    background-color: cyan;
    margin-right: 0.4rem; 
}

.blog-into-date::before{
    content: "";
    display: inline-block;
    width: 0.50rem;
    height: 0.50rem;
    border-radius: 100%;
    background-color: deeppink;
    margin-right: 0.4rem; 
}

 /* detailed page starts here  */

.you-may-like::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 1px;
    border-bottom: 2px solid black;
}      

.suggestion-img-holder::after{
    content: "";
    display: block;
    box-sizing: border-box;
    clear: both;
}

/*  detailed page ends here   */


/* footer starts */
.footer-header::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: 0;  
    border-bottom: 2px solid rgb(228, 41, 181);
}

.footer-header:hover::before{
    
    width: 100%;
    transition: 300ms ease-out;  
}

@import "tailwindcss/utilities";