{% extends 'users/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}


<br><br>
<a href="{% url 'posts:new-post' %}">Create new Post</a>
<h2>All Posts</h2>
<ul>
 {% for post in author_all_posts_list %}
  <li>{{ post }} : {{ post.view_count }} : {{ post.status }}
      <a href="{% url "posts:update-post" post.slug %}">Edit</a> |
      <a href="{% url "posts:remove-post" post.slug %}">Remove</a>
  </li>
{% endfor %}
</ul>

<h2>Private Posts</h2>
<ul>
 {% for post in author_draft_posts_list %}
  <li>{{ post }} : {{ post.view_count }} : {{ post.status }}
      <a href="{% url "posts:update-post" post.slug %}">Edit</a> |
      <a href="{% url "posts:remove-post" post.slug %}">Remove</a>
  </li>
{% endfor %}
</ul>

{% endblock %}