{% extends 'users/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}


<br><br>
<a href="{% url 'posts:new-post' %}">Create new Post</a>

<ul>
 {% for post in author_posts_list %}
  <li>{{ post }} : {{ post.view_count }} : {{ post.status }}
    <button>Edit</button>  <button>Delete</button>
  </li>
{% endfor %}
</ul>

{% endblock %}